body {
	background-color: #669999;
	font-family: Tahoma, Geneva, sans-serif;
	margin:80px 80px 60px 60px;
}

h2 {
	font-size: 1em;
}

#pinlayout{
	border: 2px solid black;
	table-layout: fixed;
}

td.pin {
	text-align: center;
	width: 1.2em;
	height: 1.2em;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

td.gpio {
	color: black;
	background: #0099ff;
}

td.gnd {
	color: black;
	background: black;
}

td.pwr_5v {
	color: red;
	background: red;
}

td.pwr_3_3v {
	color: orange;
	background: orange;
}

td.id_eeprom {
	color: white;
	background: white;
}

div.header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background-color: #0099ff;
	border: 2px solid black;
	text-align: center;
	padding-top: 5px;
}

#pin_numbering_note {
	font-size: .75em;
}

div.input_group_left {
	font-size: .85em;
	float: left;
}

div.input_group_right {
	font-size: .85em;
	margin-left:100px;
}

div.input_label {
	float: left;
	width: 4em;
}

div.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background-color: #0099ff;
	border: 2px solid black;
}