body {
  font-family: Tahoma, Geneva, sans-serif;
  margin:80px 80px 60px 60px;
}

h2 {
  font-size: 1em;
}

#pinlayout{
  border: 2px solid black;
  background-color: #DCE1DE;
  table-layout: fixed;
}

td.pin {
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

td.gpio {
  color: black;
  background: lightblue;
}

td.gnd {
  color: #3D3A3A;
  background: #3D3A3A;
}

td.pwr_5v {
  color: #F36E6E;
  background: #F36E6E;
}

td.pwr_3_3v {
  color: #F8BD62;
  background: #F8BD62;
}

td.id_eeprom {
  color: white;
  background: white;
}

div.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: lightgreen;
  border: 2px solid black;
  text-align: center;
  padding-top: 5px;
}

#table_color_key{
  font-size: .85em;
  width: fixed;
}

#pin_numbering_note {
  font-size: .75em;
}

div.output_controls
{
  display: table;
  width: 80%;
  table-layout: fixed;
  border: solid black .5px;
}

.output_controls > div {
  display: table-cell;
}

div.config_updates
{
  display: table;
  width: 80%;
  table-layout: fixed;
  border: solid black .5px;
}

.config_updates > div {
  display: table-cell;
}

div.shaded
{
  background-color: #DCE1DE;
}

/* Control Header Column Classes */
div.alias_col_header {
  width: 20%;
  text-align: center;
  background-color: lightgreen;
  border: solid black .5px;
}

div.phys_pin_col_header {
  width: 20%;
  text-align: center;
  background-color: lightblue;
  border: solid black .5px;
}

div.direction_col_header {
  width: 20%;
  text-align: center;
  background-color: #CB99C9;
  border: solid black .5px;
}

div.control_col_header {
  width: 20%;
  text-align: center;
  background-color: #F8BD62;
  border: solid black .5px;
}

div.state_col_header {
  width: 20%;
  text-align: center;
  background-color: #FF6961;
  border: solid black .5px;
}

/* Config Header Column Classes */
div.phys_pin_config_col_header {
  width: 20%;
  text-align: center;
  background-color: lightgreen;
  border: solid black .5px;
}

div.alias_config_col_header {
  width: 20%;
  text-align: center;
  background-color: lightblue;
  border: solid black .5px;
}

div.pullup_enable_col_header {
  width: 20%;
  text-align: center;
  background-color: #CB99C9;
  border: solid black .5px;
}

div.pullup_type_col_header {
  width: 20%;
  text-align: center;
  background-color: #F8BD62;
  border: solid black .5px;
}

div.display_enable_col_header {
  width: 20%;
  text-align: center;
  background-color: #FF6961;
  border: solid black .5px;
}

/* Control Column Classes */
div.alias_col {
  width: 20%;
  text-align: center;
  font-size: .85em;
}

div.phys_pin_col {
  width: 20%;
  text-align: center;
  font-size: .85em;
}

div.direction_col {
  width: 20%;
}

.direction_dropdown {
    display: block;
    margin : 0 auto;
}

div.control_col {
  width: 20%;
}

.control_checkbox {
    display: block;
    margin : 0 auto;
}

div.state_col {
  width: 20%;
  text-align: center;
}

/* Conif Column Classes */
div.phy_pin_config_col {
  width: 20%;
  text-align: center;
}

div.alias_config_col {
  width: 20%;
  text-align: center;
  font-size: .85em;
}

.alias_input {
  border: solid black .5px;
}

div.pullup_enable_col {
  width: 20%;
}

.pullup_enable_checkbox {
    display: block;
    margin : 0 auto;
}

div.pullup_type_col {
  width: 20%;
}

.pullup_type_dropdown {
    display: block;
    margin : 0 auto;
}

div.display_col {
  width: 20%;
}

.display_enable_checkbox {
    display: block;
    margin : 0 auto;
}

input.button {
  border-radius: 12px;
  background-color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input.button:hover {
    background-color: lightgreen;
    color: black;
}


div.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: lightgreen;
  border: 2px solid black;
}
